@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');



.titleBar{
    font-family: "JetBrains Mono", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000000;
    outline: none;
    color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: small;
    padding: 3px;
}

/* .window {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

} 
not working for som reason    
*/