@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.close{
    background-color: #000000;
    color: #ffffff;
    font-family: "JetBrains Mono", serif;
    font-weight: 100;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    
}

.close:hover{
    background-color: #da5b5b;
    color: #000;
}

.maximize{
    background-color: #000000;
    color: #ffffff;
    font-family: "JetBrains Mono", serif;
    border: none;
    border-radius: 7px;

    cursor: pointer;
}

.maximize:hover{
    background-color: #dddddd;
    color: #000;
}

.minimize{
    background-color: #000000;
    color: #ffffff;
    font-family: "JetBrains Mono", serif;
    border: none;
    border-radius: 7px;

    cursor: pointer;
}


.window {
    flex: 1; /* Allow the window to take up the available space */
    width: 100%;
    height: 100%;
    
  }
  
  /* Ensure the games-layout also takes the full height of its container */
  .games-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .games-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
  
    
  }
.minimize:hover{
    background-color: #dddddd;
    color: #000;
}

.titleBar{
    display: flex;  
    align-items: center;
    justify-content: center; 
    font-family: "JetBrains Mono", serif;
    
    cursor: pointer;
    background-color: #000000;
    outline: none; 
    color: white;
    width: 100%;

    font-size: small;
    padding: 3px;
}

.window-content{
    overflow-y: auto;
}

#maximized{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#minimized{
    border-radius: 10px;
}



.navigation {
    margin-left:auto;
   
} 


/* .window {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

} 
not working for som reason    
*/