.dashboard {
    background-color: black;
    color: white;
    display: grid; 
    grid-template-columns: 0.3fr 1fr 0.3fr; 
    grid-template-rows: 0.3fr 1.7fr; 

    grid-template-areas:
      "date-time dock title"
      "desktop desktop desktop";

    height: 100vh;
  }
  
  .date-time {
    grid-area: date-time;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    /* align-items: center; Center horizontally */
  }

  .date{
    margin-left: 2vw;

    font-size: 10px;
  }

  .time{
    margin-left: 2vw;

    font-size: 20px;
  }

.header {
    font-size: 30px;
    margin-bottom: 0px;
  }
.version {
    font-size: 20px;
    margin-top: 0px;
  }

  body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    
}


  
  .dock { 
    grid-area: dock;
    display: flex;
    flex-direction:row;
    justify-content: center; /* Center vertically */
     align-items:center; /*Center horizontally */
     padding-right: 1vw; 

}
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
     align-items:end; /*Center horizontally */
     padding-right: 1vw;;
    grid-area: title;
 }

  .desktop{
    grid-area: desktop;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* border: 25px solid black; */
    margin: 25px;
    color: white;
    border-radius: 25px;
  }
  
  .stats{
    color: #FF4400;
    margin-left: 1vw;
  }